*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    color: black;
}


.header{
    background-color: black;
    justify-content: center;
    display: flex;
    padding: 28px 0;
}

.header-logo{
    display: block;
    width: 100%;
}

.main-notebook, 
.middle-banner{
    width: 100%;
    display: block;
}

.top-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0 96px;
}

.top-section-txt{
    max-width: 766px;
    margin-right: 124px;
}

.top-section-subtitle{
    font-style: normal;
    font-weight: normal;
    font-size:32px;
    line-height:40px;
    text-transform: uppercase;
}

.top-section-title{
    font-weight: 500;
    margin-bottom: 24px;
    font-size: 48px;
    text-transform: uppercase;
}

.top-section-description{
    line-height: 24px;
    font-size: 16px;
}

.top-cards{
    background-color: #f0f0f0;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 20px;
    justify-content: center;
    padding: 74px 0;
}

.top-card123{
    background-color: white;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 26px 26px 34px;
}

.top-card-img{
    display: block;
    margin-bottom: 26px;
}

.top-card-txt{
    max-width:300px;
    font-size:16px;
    line-height: 24px;
    text-align: center;
}

.bottom-cards{
    background-color: #00C8FF;
    margin-top: 140px;
}

.bottom-card123{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 16px rgba(0, 0,0 , 0.15);
    padding: 36px 32px 66px;

}

.bottom-card-txt{
    max-width: 368px;
    font-size: 16px;
    line-height: 24px;
    text-align: center; 
}

.bottom-card-img{
    display: block;
    margin-bottom: 14px;
}


.bottom-card-wrapper{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    gap: 20px;
    position: relative;
    top: -60px;
}

.bottom-infocard{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 142px 0 180px;
}

.bottom-infocard-img{
    margin-right: 40px;
}

.bottom-infocard-txt{
    max-width: 550px;

}

.bottom-infocard-title{
    margin-bottom: 18px;
    line-height: 1;
    font-size: 32px;
    font-weight: 600;
}

.bottom-infocard-description{
    line-height: 24px;
    font-size: 16px;
}

.page-footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 38px 0;
}

.footer-txt{
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #BDBDBD;
}

.footer-icons{
    display: flex;
    list-style: none; 
    margin-bottom: 16px;
}

.footer-icon123{
    margin: 0 8px;
}

@media screen and (max-width: 414px) {
    .main-notebook,
    .middle-banner{
        display: none;
        width: 50%;
    }
}

@media screen and (min-width: 415px) {
    .main-notebook-mobile,
    .middle-banner-mobile{
        display: none;       
    }   
}

@media screen and (max-width:768px) {
    .top-cards{
        grid-template-columns: 1fr;
        padding: 36px 26px; 
    }
    .bottom-cards{
        margin-top: 114px;
        padding: 0 26px;
    }
    .bottom-card-wrapper{
        grid-template-columns: 1fr;
        gap: 16px;
    }
    .bottom-card-txt{
        font-size: 14px;
    }
    .page-footer{
        padding-bottom: 26px;;
    }
    .footer-txt{
        max-width: 280px;
        text-align: center;
    }
    
}

@media screen and (max-width: 992px) {
    .top-section{
        flex-direction: column;
        padding: 84px 26px 158px;
    }
    .top-section-txt{
        margin-right: 0 0 68px;
    }
    .top-section-subtitle{
        font-size: 20px;
    }
    .top-section-title{
        font-size: 28px;
        margin-bottom: 20px;
    }
    .top-section-banner{
        max-width: 240px;
        width: 100%;
        margin-top: 22px;
    }
    .bottom-infocard{
        flex-direction: column;
        padding: 80px 0 136px;
    }
    .bottom-infocard-img{
        width: 100%;
        margin: 0 0 50px;
        max-width: 596px;
    }
    .bottom-infocard-title{
        font-size: 24px;
    }
    .bottom-infocard-txt{
        padding: 0 26px;
    }
}

@media screen and (min-width: 993px) and (max-width: 1280px) {
    .top-section-txt{
        max-width: 520px;
        margin-right: 70px;
    }
    .bottom-infocard-img{
        max-width: 480px;
    }
    .bottom-infocard-txt{
        max-width: 400px;
    }
}

@media screen and (min-width:769px) and (max-width:1200px) {
    .top-cards{
        grid-template-columns: repeat(2, max-content);

    }

}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .bottom-card-txt{
        max-width: 280px;
    }
}

